{% extends 'base2.html' %}

{% load static %}
{% load i18n %}
{% load i18n_urls %}
{% load product %}


{% block content %}


    <style>
        .custom_select {
            width: 100%;
            height: 100%;
            border: rgba(83, 82, 82, 0.27) solid .5px;
            border-radius: 5px;
            outline: none;
        }


    </style>
    <div id="app">
        <div id="add_tax" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{% translate 'Make payment' %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row filter-row">
                            <div class="form-group form-focus select-focus" style="width: 100%">
                                <div class="col-12">
                                    <select id="select_payment" class="select floating" required
                                            v-model="pending_payment.id">
                                        {% for b in banks %}
                                            {% if forloop.counter == 1 %}
                                                <option selected value="{{ b.id }}">{{ b.name }}</option>

                                            {% else %}
                                                <option value="{{ b.id }}">{{ b.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <label class="focus-label">{% trans 'Payment method' %}</label>
                            </div>
                        </div>


                        <div class="form-group">
                            <label>{% translate 'Amount' %}: <span class="text-danger"></span></label>
                            <input v-model="pending_payment.amount" type="number" class="form-control"
                                   name="amount"/>
                        </div>

                        <div class="form-group">
                            <label>{% translate 'Note' %}: <span class="text-danger"></span></label>
                            <textarea v-model="pending_payment.note" rows="4" class="form-control"
                                      name="note"></textarea>
                        </div>

                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn" data-dismiss="modal"
                                    v-on:click="add_payment();">{% translate 'Add' %}</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">{% trans 'Transfer Product' %}</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Dashboard' %}</a>
                            </li>
                            <li class="breadcrumb-item active"
                                aria-current="page">{% trans 'Transfer Product' %}</li>
                        </ol>
                    </nav>
                </div>

                {% comment %}  <div class="col-auto float-right ml-auto">
                    <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_tax"><i
                            class="fa fa-plus"></i> {% trans 'Make payment' %}</a>
                </div>{% endcomment %}

            </div>
        </div>
        <form id="purchase_form" action="{% url 'add_transfer' %}" method="post">
            {% csrf_token %}
            <div class="row filter-row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group form-focus select-focus">

                        <select class="select floating" required id="vendor_select">
                            <option value="-1">--------------</option>
                            {% for v in organizations %}
                                <option value="{{ v.id }}">{{ v.name }}</option>
                            {% endfor %}
                        </select>

                        <label class="focus-label">{% trans 'Transfer To' %}</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group form-focus select-focus">
                        <select id="tax_selection" class="custom_select floating" required
                                v-on:input="tax_change($event)">
                            {% for t in taxes %}
                                <option value="{{ t.percent }}" data-id="{{ t.id }}">{{ t.percent }} %</option>
                            {% endfor %}
                        </select>
                        <label class="focus-label">{% trans 'Tax' %}</label>
                    </div>
                </div>
            </div>
            <table class="table table-hover table-white">
                <tr>
                    <th class="col-1">#</th>
                    <th class="col-2">{% trans 'Product' %}</th>
                    <th class="col-2">{% trans 'Stock' %}</th>
                    <th class="col-2">{% trans 'Unit' %}</th>
                    <th class="col-2">{% trans 'Price' %} (SAR)</th>
                    <th class="col-2">{% trans 'Total Price' %} (SAR)</th>
                    <th class="col-1"></th>
                </tr>


                <tr v-for="(i,p) in bucket">
                    <td>[[ p+1 ]]</td>
                    <td>[[ i.name ]]</td>
                    <td>[[ i.stock ]]</td>

                    <td>[[ i.unit ]]</td>
                    <td>[[ i.price ]]</td>
                    <td>[[ i.total_price ]]</td>
                    <td><a href="javascript:void(0)" v-on:click="removeFromList(p)" class="text-success font-18"
                           title="Add"><i
                            class="fa fa-remove"></i></a></td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <div class="form-group form-focus">

                            <select class="selectpicker" data-live-search="true" id="select_product"
                                    v-on:change="on_select_change($event);">
                                <option value="-1">-----------</option>
                                {% for p in products_list %}
                                    <option value="{{ p.id }}">{{ p.sku }}--{{ p.name }}</option>
                                {% endfor %}
                            </select>

                        </div>
                    </td>
                    <td>
                        <input class="form-control" type="number" disabled v-model="pending_product.stock">
                    </td>
                    <td>
                        <input class="form-control" type="number" v-on:change="on_unit_change()"
                               v-on:keyup="on_unit_change()" v-model="pending_product.unit">
                    </td>
                    <td>
                        <input class="form-control" type="number" v-on:change="on_price_change($event)"
                               v-on:keyup="on_price_change($event)" v-model="pending_product.price">
                    </td>
                    <td>
                        <input class="form-control" v-on:change="on_total_change($event)"
                               v-on:keyup="on_total_change($event)" type="number"
                               v-model="pending_product.total_price">
                    </td>
                    <td><a href="javascript:void(0)" v-on:click="addNewAddColumn()" class="text-success font-18"
                           title="Add"><i
                            class="fa fa-plus"></i></a></td>
                </tr>
            </table>
            <table class="table table-hover table-white">
                <tr>
                    <th> #</th>
                    <th>{% trans 'Payment Method' %}</th>
                    <th>{% trans 'Amount' %}</th>
                    <th>{% trans 'Note' %}</th>
                    <th></th>
                </tr>

                <tr v-for="(p,i) in payments">
                    <td>[[i + 1]]</td>
                    <td>[[ p.name ]]</td>
                    <td>[[ p.amount ]] SAR</td>
                    <td>[[ p.note ]]</td>
                    <td><a href="javascript:void(0)" v-on:click="removePayment(i)" class="text-success font-18"
                           title="Add"><i
                            class="fa fa-remove"></i></a></td>
                </tr>
            </table>


            <input id="tax_input" type="hidden" value="" name="tax"/>
            <input id="customer_input" type="hidden" value="" name="to_org"/>
            <input id="note_input" type="hidden" value="" name="note"/>
            <input id="payments_input" type="hidden" value="" name="payments_input"/>
            <input id="pwu_input" type="hidden" value="" name="pwu_input"/>


        </form>


        <div class="table-responsive">
            <table class="table table-hover table-white">

                <tr>
                    <td colspan="5" style="text-align: right; font-weight: bold">
                        {% translate 'Total' %}
                    </td>
                    <td style="text-align: right; padding-right: 30px; font-weight: bold; font-size: 16px;width: 230px">
                        [[ totalAmount() ]] SAR
                    </td>
                </tr>

                <tr>
                    <td colspan="5" style="text-align: right; font-weight: bold">
                        {% translate 'Tax Fee' %}
                    </td>
                    <td style="text-align: right; padding-right: 30px; font-weight: bold; font-size: 16px;width: 230px">
                        [[calculateTaxFee(totalAmount())]] SAR
                    </td>
                </tr>

                <tr>
                    <td colspan="5" style="text-align: right; font-weight: bold">
                        {% translate 'Grand Total' %}
                    </td>
                    <td style="text-align: right; padding-right: 30px; font-weight: bold; font-size: 16px;width: 230px">
                        [[calculateWithTax(totalAmount())]] SAR
                    </td>
                </tr>

            </table>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>{% translate 'Note' %}</label>
                    <textarea class="form-control" name="note" id="purchase_note" maxlength="512"></textarea>
                </div>
            </div>
        </div>


        <div class="submit-section">
            <button class="btn btn-primary submit-btn" v-on:click="submit">{% translate 'Save' %}</button>
        </div>
    </div>

    <script>
        var products = {{ products|safe }};
        var methods = {{ methods|safe }};
    </script>


    <script>

        function fetch_stock(id) {
            /*fetch("/invoice/stock/unit/" + id + "/", {
                method: "GET",
                headers: {'Content-Type': 'application/json'},
            }).then(function (response) {
                return response.json();
            }).then(res => {
                if (res.status === 200) {
                    console.log(res.body);
                }
            });*/

            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", "http://127.0.0.1:8000/en/invoice/stock/unit/" + id + "/", false);
            xmlHttp.send(null);
            return JSON.parse(xmlHttp.responseText)['stock'];
        }
    </script>


    <script>
        var stock_from_xml = 0
        var app = new Vue({
            delimiters: ["[[", "]]"],
            el: "#app",
            data: {
                pending_product: {
                    'id': -1,
                    'name': '-----------',
                    'unit': 1,
                    'price': 0,
                    'total_price': 0,
                    'stock': 0,
                },
                bucket: [],
                payments: [],
                tax: 0,
                pending_payment: {
                    'id':{{ banks.0.id }},
                    'amount': 0,
                    'note': ''
                }
            }, methods: {
                on_unit_change() {
                    this.pending_product.total_price = this.pending_product.price * this.pending_product.unit
                },
                submit() {
                    var purchase_form = document.getElementById('purchase_form');
                    document.getElementById('tax_input').value = this.tax
                    var vendorr = document.getElementById('vendor_select').value;
                    if (this.tax.toString() === '-1') {
                        alert('Please select an tax');
                        return;
                    }
                    if (this.bucket.length === 0) {
                        alert('Please add at least an product');
                        return;
                    }


                    document.getElementById('pwu_input').value = JSON.stringify(this.bucket);
                    document.getElementById('payments_input').value = JSON.stringify(this.payments);
                    document.getElementById('customer_input').value = vendorr
                    document.getElementById('note_input').value = document.getElementById('purchase_note').value;
                    purchase_form.submit();
                },
                tax_change(event) {
                    this.tax = parseFloat(event.target.value);
                },
                on_price_change(event) {
                    this.pending_product.price = event.target.value;
                    this.pending_product.total_price = this.pending_product.unit * this.pending_product.price;
                },
                on_total_change(event) {
                    this.pending_product.total_price = event.target.value;
                    this.pending_product.price = parseFloat(this.pending_product.total_price / this.pending_product.unit).toFixed(2);
                },
                removeFromList(p) {
                    this.bucket.splice(p, 1);
                },
                removePayment(p) {
                    this.payments.splice(p, 1);
                },
                totalAmount() {
                    var total = 0.0;
                    for (var i = 0; i < this.bucket.length; i++) {
                        total += parseFloat(this.bucket[i].total_price);
                    }
                    return total;
                },
                calculateTaxFee() {
                    return this.totalAmount() * (this.tax / 100);
                },
                calculateWithTax() {
                    var t = this.totalAmount();
                    return t + t * (this.tax / 100);
                },
                add_payment() {
                    var name = "";
                    var selct_value = document.getElementById('select_payment').value;
                    if (parseFloat(this.pending_payment.amount) <= 0) {
                        alert("Payment can not be smaller than 0");
                        return;
                    }
                    for (var i = 0; i < methods.length; i++) {
                        if (selct_value.toString() === methods[i].id.toString()) {
                            name = methods[i].name;
                        }
                    }
                    this.pending_payment.id = selct_value;
                    this.pending_payment.name = name;
                    this.payments.push(this.pending_payment);
                    this.pending_payment = {
                        'id':{{ banks.0.id }},
                        'amount': 0,
                        'note': '',
                    };
                },
                addNewAddColumn() {
                    if (this.pending_product.id.toString() === '-1') {
                        alert('Please select an product');
                        return;
                    }
                    var stock = 0;
                    var index = 0;
                    for (var i = 0; i < products.length; i++) {
                        if (products[i].id.toString() === this.pending_product.id.toString()) {
                            stock = products[i].stock;
                            index = i;
                            break;
                        }
                    }
                    var vendorr = document.getElementById('vendor_select').value;
                    if (parseFloat(stock_from_xml) < parseFloat(this.pending_product.unit)) {
                        alert('Product unit can not be more than stock');
                        return;
                    }
                    products[i].stock -= this.pending_product.unit;
                    this.bucket.push(this.pending_product);
                    this.pending_product = {
                        'id': -1,
                        'name': '-----------',
                        'unit': 1,
                        'price': 0,
                        'total_price': 0,
                        'stock': 0,
                    };
                    document.getElementById('select_product').value = '-1';
                },
                on_select_change(event) {
                    var id = event.target.value.toString();
                    stock_from_xml = fetch_stock(id);

                    if (id !== '-1') {
                        for (var i = 0; i < products.length; i++) {
                            var p = products[i];
                            if (p.id.toString() === id) {
                                this.pending_product.id = p.id;
                                this.pending_product.price = p.price;
                                this.pending_product.name = p.name;
                                this.pending_product.stock = stock_from_xml.toFixed(3);
                                this.pending_product.total_price = this.pending_product.unit * this.pending_product.price;
                            }
                        }
                    }
                }
            },
        });
    </script>

{% endblock %}