{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load invoice %}
{% block content %}

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">{% trans 'Transfer Product' %}</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'Dashboard' %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% trans 'Transfer Product' %}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-auto float-right ml-auto">
                <div class="btn-group btn-group-sm">
                    <a class="btn btn-white" href="{% url 'transfer_pdf' invoice.id %}">{% trans 'PDF' %}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 m-b-20">
                            <img src="{% static 'assets/img/logo.png' %}" class="inv-logo" alt="">
                        </div>
                        <div class="col-sm-6 m-b-20">
                            <div class="invoice-details">
                                <h3 class="text-uppercase">{% trans 'Transfer Product' %} #TRA-00{{ invoice.id }}</h3>
                                <ul class="list-unstyled">
                                    <li>{% trans 'Date' %}: <span>{{ invoice.datetime|date:"Y/m/d H:i" }}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="display: flex;justify-content: space-between">
                        {% if invoice.to_org %}
                            <div class="col-sm-6 col-lg-5 col-xl-4 m-b-20">
                                <span class="text-muted">{% trans 'Customer Detail' %}:</span>
                                <ul class="list-unstyled invoice-payment-details">
                                    <li>{% trans 'Name' %}: <span>{{ invoice.to_org.name }}</span></li>
                                    <li>{% trans 'Email' %}: <span>{{ invoice.to_org.email }}</span></li>
                                    <li>{% trans 'Phone Number' %}: <span>{{ invoice.to_org.phone_number }}</span>
                                    </li>
                                    <li>{% trans 'Address' %}: <span>{{ invoice.to_org.address }}</span></li>
                                </ul>
                            </div>
                        {% endif %}
                        <div class="col-sm-6 col-lg-5 col-xl-4 m-b-20">
                            <span class="text-muted">{% trans 'Organization Detail' %}:</span>
                            <ul class="list-unstyled invoice-payment-details">
                                <li>{% trans 'Organization Name' %}: <span>{{ org.name }}</span></li>
                                <li>{% trans 'Organization Email' %}: <span>{{ org.email }}</span></li>
                                <li>{% trans 'Organization Phone number' %}: <span>{{ org.phone_number }}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <h3>{% trans 'Products' %}</h3>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{% trans 'Product' %}</th>
                                <th>{% trans 'Unit' %}</th>
                                <th>{% trans 'Price' %}</th>
                                <th>{% trans 'Total Price' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in pwus %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ p.product.product.name }}</td>
                                    <td>{{ p.unit }} {{ p.product.product.type }}</td>
                                    <td>{{ p.price|divide:p.unit }} SAR</td>
                                    <td>{{ p.price }} SAR</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <br><br>
                    <div class="table-responsive">
                        <h3>{% trans 'Payments' %}</h3>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{% trans 'Amount' %}</th>
                                <th>{% trans 'Account' %}</th>
                                <th>{% trans 'DateTime' %}</th>
                                <th>{% trans 'Note' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in payments %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ p.amount }} SAR</td>
                                    <td>{{ p.bank.name }}</td>
                                    <td>{{ p.date|date:"Y/m/d H:i" }}</td>
                                    <td>{{ p.note }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <div class="row invoice-payment">
                            <div class="col-sm-7">
                            </div>
                            <div class="col-sm-5">
                                <div class="m-b-20">
                                    <div class="table-responsive no-border">
                                        <table class="table mb-0">
                                            <tbody>
                                            <tr>
                                                <th>{% trans 'Subtotal' %}:</th>
                                                <td class="text-right">{{ total }} SAR</td>
                                            </tr>
                                            <tr>
                                                <th>{% trans 'Tax' %}: <span class="text-regular">({{ invoice.tax.percent }}%)</span></th>
                                                <td class="text-right">{{ tax }} SAR</td>
                                            </tr>
                                            <tr>
                                                <th>{% trans 'Paid' %}: <span class="text-regular"></span></th>
                                                <td class="text-right">{{ payed }} SAR</td>
                                            </tr>
                                            <tr>
                                                <th>Total:</th>
                                                <td class="text-right text-primary"><h5>{{ tax|add:total|minus:payed }} SAR</h5>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-info">
                            <h5>{% trans 'Other information' %}</h5>
                            <p class="text-muted">{{ invoice.note }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}